/* General styles for the entire page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the background color for the entire HTML document */
html { 
    background-color: #FFFFFF;  
}

/* Style the body to ensure proper layout */
body {
    min-width: 375px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #ffffff, #5C206C, #000000);  
    height: 131px;
}

h1 {
    display: none;
}

/* Logo image in header */
#logo {
    width: 250px;
}

/* Company Logo, Navigation Menu and Membership Account Access in header bar */
nav {
    text-align: center;
}

nav h2 {
    display: none;
}

nav ul {
    list-style: none;     
    display: inline-flex;
    justify-content: space-evenly;
}

nav li {
    padding: 30px;
}

/* Style the navigation links */
nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
}

/* Change color of nav links on hover, active, and focus */
nav a:hover, nav a:active, nav a:focus {
    color: #000000;
}

#account {
    width: 55px;
    height: 50px;
}

#account-btn {
    background: none;
    border: none;
}

/* Style the form background */
.form-popup {
  display: none;               
  position: fixed;             
  background: #ffffff;
  top: 50%;
  left: 50%;
  height: auto;
  width: auto;
  transform: translate(-50%, -50%); 
  padding: 20px;
  z-index: 1;
  text-align: center;
  border-radius: 10px;
}

.popup-container h2 span {
    color: #5C206C;
}

#formFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#formFields label {
    font-size: 18px;
    margin-bottom: 10px;
}

#formFields input {
    font-size: 15px;
    width: 300px;
    border: 2px solid #5C206C;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

#formFields input[type="text"] {
    width: 50%;
}

#formFields fieldset {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 20px 0;
}

fieldset #email, fieldset #phone {
    margin-left: 10px;
}

fieldset label:last-of-type {
    margin-left: 20px;
}

/* Join club submit button */
#submit {
    background-color: #5C206C;
    color: #ffffff;
    border: none;
    padding: 5px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 250px
}

/* Create new account button */
#newAccountButton {
    background-color: #5C206C;
    color: #ffffff;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    width: 250px;
    margin-bottom: 10px;
    display: none; /* Initially hidden */
}

/* Close button and reset for the form */
#closeButton, #resetPasswordButton {
    background-color: #5C206C;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

#closeButton:hover, #resetPasswordButton:hover, #closeButton:hover, #newAccountButton:hover, #submit:hover {
    background-color: #000000;
    color: #ffffff;
}

#resetPasswordMsg {
    color: #5C206C;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

#resetPasswordButton {
    display: none; 
    margin-bottom: 10px;
}


/* Movies currently playing in theater */
#now-playing h2 {
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
}

#now-playing {
    position: relative;
    margin:auto;
    width: 70%;
    padding-bottom: 20px;
    height: 500px;
    overflow: hidden; 
}

#slider {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slide-in 25s ease-in-out;
    animation-name: image-slider;
    animation-iteration-count: infinite;
}


.slide {
    min-width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
}

@keyframes image-slider {
     0% { 
        transform: translateX(0); 
    }
    20% { 
        transform: translateX(0); 
    }
    25% { 
        transform: translateX(-100%); 
    }
    45% { 
        transform: translateX(-100%); 
    }
    50% { 
        transform: translateX(-200%); 
    }
    70% { 
        transform: translateX(-200%); 
    }
    75% { 
        transform: translateX(-300%); 
    }
    95% { 
        transform: translateX(-300%); 
    }
    100% { 
        transform: translateX(-400%); 
    }
} 

/* Look up movie showtimes */
#view-showtimes {
    display: grid;
    margin: auto;
    padding: 5px 10px 5px 10px;
    background-color: #5C206C;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

#showtime {
    grid-column: 1/2;
    grid-row: 2/4;
    width: 125px;
    height: 100px;
    justify-self: center;
    align-self: center;
}

#showtime2 {
    grid-column: 4/5;
    grid-row: 2/4;
    width: 125px;
    height: 100px;
    justify-self: center;
    align-self: center;
}

#showtime-header {
    width: auto;
    grid-column: 1/5;
    grid-row: 1/2;
    padding: 10px;
    background-color: #000000;
}

#showtime-header h3 {
    color:#ffffff;
}

/* Format movie title */
#movie-title {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: 10px;
}

/* Format movie date */
#movie-date {
    grid-column: 3/4;
    grid-row: 2/3;
    padding-top: 10px;
}

#movie-date input, #movie-title select {
    text-align: center;
    width: 200px;
    height: 20px; 
}

/* Format search button */
#search {
    grid-column: 2/4;
    grid-row: 3/4;
    justify-self: center;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    width: 150px;
    height: 30px;
}

#search:hover {
    background-color: #000000;
    color: #ffffff;
}

#view-showtimes p {
    grid-column: 2/4;
    grid-row: 4/5;
    color: #ffffff;
    font-size: 12px;
    padding-top: 10px;
}

.close {
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    width: 100px;
    height: 30px;
}

.close:hover {
    background-color: #000000;
    color: #ffffff;
}

#output {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
  margin: 1rem auto;
  width: 90%;
  max-width: 800px;
  border-radius: 8px;
  overflow-y: auto;
  max-height: auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

#output h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

#output h3 {
    font-size: 30px;
    margin: 10px 0;
}

#output p {
    font-size: 18px;
    margin: 5px 0;
}

#output img {
    width: 400px;
    height: 500px;
    padding: 20px;
}

#output ul {
    display: inline-flex;
    flex-direction: row;
}

#output li {
    list-style: none;
    font-size: 18px;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
}
#output a {
    text-decoration: none;
    color: #000000;
}

#output a:active, #output a:focus {
    color: orange;
}

#output li:hover {
    background-color: #f0f0f0;
}

/* Style New Releases Container */
#new-releases {
    display: grid;
    margin: auto;
    background-color: black;
    justify-content: center;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(6, auto);
    column-gap: 25px;
    text-align: center;
    color: white;
    padding: 0 20px 20px;
}

/* Format header tag */
#new-releases h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 5px;
}

/* Format subheader */
#new-releases p:first-of-type {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-bottom: 20px;
    font-size: 18px;
    color: orange;
}

/* Format images to fit inside grid and add border */
#new-releases img {  
    width: 300px;
    height: 300px;
    border: 4px dotted white;
}

#final-destination {
     /* Movie release placement in grid */
    grid-column: 1/2;
    grid-row: 3/4;
}

#final-destination p:first-of-type {
    /* Movie title placement in grid */
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 18px;
    padding-top: 15px;
}

#final-destination p:last-of-type {
    /* Movie length & rating placement in grid */
    grid-column: 1/2;
    grid-row: 5/6;
    padding-bottom: 10px;
}

#megan2 {
     /* Movie Release placement in grid */
    grid-column: 2/3;
    grid-row: 3/4;
}

#megan2 p:first-of-type {
    /* Movie title placement in grid */
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 18px;
    padding-top: 15px;
}

#megan2 p:last-of-type {
    /* Movie length & rating placement in grid */
    grid-column: 2/3;
    grid-row: 5/6;
    padding-bottom: 10px;
}

#sinners {
    /* Movie Release placement in grid */
    grid-column: 3/4;
    grid-row: 3/4;
}

#sinners p:first-of-type {
    /* Movie title placement in grid */
    grid-column: 3/4;
    grid-row: 4/5;
    font-size: 18px;
    padding-top: 15px;
}

#sinners p:last-of-type {
    /* Movie length & rating placement in grid */
    grid-column: 3/4;
    grid-row: 5/6;
    padding-bottom: 10px;
}

/* Format food section */
#featured-dining {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    width: 70%;
    margin: auto;
    font-weight: bold;
    background-color: #5C206C;
}

#featured-dining h3 {
    color:#FFFFFF;
    padding-bottom: 10px;
}

#variety-food {
    width: 95%;
}

#food p {
    color: orange;
    font-size: 20px;
}

#opener {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

#opener:hover, #opener:focus {
    background-color: #5C206C;
    color: white;
}

#munchieDeal {
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    p:first-of-type {
        padding-top: 20px;
        font-size: 25px;
        font-weight: bold;
    }

    p:last-of-type {
        font-size: 10px;
    }

    img {
        margin-top: 30px;
        width: 250px;
    }
}

footer {
    text-align: center;
    height: 30px;
    background: linear-gradient(to bottom, #000000, #5C206C, #FFFFFF); 
    padding-top: 15px;
}

footer small {
    color: #ffffff;
    font-weight: bold;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    padding: 10px 0;
  }

  #now-playing {
    width: 95%;
    height: auto;
  }
}