/*-------------------------CSS RESET CODE--------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u,
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
} 

/*HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
    display:block;
}

body {
    line-height:1;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { 
    background-color: #000000;  
}

h1, h2 {
    display: none;
}

body {
    width: 1280;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

/* Company Logo, Navigation Menu and Membership Account Access in header bar */
header {
    display: flex;
    align-items: center;
    height: 135px;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-shadow: 1px 1px 2px black;
}

#menu ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 50px;
    padding: 20px;
}

#menu li {
    list-style-type: none;  
    font-weight: bold;
    font-size: 26px;
}

#menu a {
    text-decoration: none;
    color: black;
    
}

#menu a:hover {
    color: #5C206C;
}

#menu a:active {
    color: #5C206C;
}

#account {
    width: 100px;
    height: 75px;
    padding: 20px;
}

#now-playing {
    width: 65%;
    height: 400px;
    overflow: hidden;
    margin:auto;
    position: relative;
    background-color: #ffffff;
}

#now-playing img {
    width: 100%;
    height: 400px;
}

#view-showtimes {
    display: grid;
    width: 65%;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    background-color: #5C206C;
    justify-content: center;
    grid-template-columns: 200px 200px;
    column-gap: 50px;
    text-align: center;
    font-weight: bold;
    color: white;
}

#new-releases {
    display: grid;
    width: 65%;
    margin: auto;
    background-color: black;
    justify-content: center;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(6, auto);
    column-gap: 25px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

#new-releases p:first-of-type {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 5px;
}

#new-releases p:last-of-type {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-bottom: 20px;
    font-size: 18px;
    color: orange;
}

#new-releases img {
     /* format images to fit inside grid and add border */
    width: 300px;
    height: 300px;
    border: 4px dotted white;
}

#final-destination {
     /* Movie Release placement in grid */
    grid-column: 1/2;
    grid-row: 3/4;
}

#final-destination p:first-of-type {
    /* Movie Title */
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 18px;
    padding-top: 15px;
}

#final-destination p:last-of-type {
    /* Movie Length & Rating */
    grid-column: 1/2;
    grid-row: 5/6;
}

#megan2 {
     /* Movie Release placement in grid */
    grid-column: 2/3;
    grid-row: 3/4;
}

#megan2 p:first-of-type {
    /* Movie Title */
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 18px;
    padding-top: 15px;
}

#megan2 p:last-of-type {
    /* Movie Length & Rating */
    grid-column: 2/3;
    grid-row: 5/6;
}

#sinners {
    /* Movie Release placement in grid */
    grid-column: 3/4;
    grid-row: 3/4;
}

#sinners p:first-of-type {
    /* Movie Title */
    grid-column: 3/4;
    grid-row: 4/5;
    font-size: 18px;
    padding-top: 15px;
}

#sinners p:last-of-type {
    /* Movie Length & Rating */
    grid-column: 3/4;
    grid-row: 5/6;
}

.view {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.view:hover, .view:focus {
    background-color: #5C206C;
    color: white;
}

#featured-dining {
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    background: linear-gradient(to top, #000000 50%, white 50%);
    width: 65%;
    margin: auto;
    font-weight: bold;
}

#featured-dining p {
    color:#5C206C;
    padding-bottom: 10px;
}

#variety-food {
    width: 520px;
}

#food p {
    color: #ffffff;
    font-size: 20px;
}