/*-------------------------CSS RESET CODE--------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u,
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
} 

/*HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
    display:block;
}

body {
    line-height:1;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}*/

* {
    margin: 0;
    padding: 0;
}

html { 
    background-color: #FFFFFF;  
}

body {
    min-width: 375px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #ffffff, #5C206C, #000000);  
    height: 131px;
}

h1 {
    display: none;
}

#logo {
    width: 250px;
}

/* Company Logo, Navigation Menu and Membership Account Access in header bar */
nav {
    text-align: center;
}

nav h2 {
    display: none;
}

nav ul {
    list-style: none;     
    display: inline-flex;
    justify-content: space-evenly;
}

nav li {
    padding: 30px;
}

nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
}

nav a:hover, nav a:active, nav a:focus {
    color: #000000;
}

#account {
    width: 55px;
    height: 50px;
}

/* Movies currently playing in theater */
#now-playing h2 {
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
}

#now-playing {
    position: relative;
    margin:auto;
    width: 70%;
    padding-bottom: 20px;
    height: 500px;
    overflow: hidden; 
}

#slider {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slide-in 25s ease-in-out;
    animation-name: image-slider;
    animation-iteration-count: infinite;
}

.slide {
    min-width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
}

@keyframes image-slider {
     0% { 
        transform: translateX(0); 
    }
    20% { 
        transform: translateX(0); 
    }
    25% { 
        transform: translateX(-100%); 
    }
    45% { 
        transform: translateX(-100%); 
    }
    50% { 
        transform: translateX(-200%); 
    }
    70% { 
        transform: translateX(-200%); 
    }
    75% { 
        transform: translateX(-300%); 
    }
    95% { 
        transform: translateX(-300%); 
    }
    100% { 
        transform: translateX(-400%); 
    }
}

/* Look up movie showtimes */
#view-showtimes {
    display: grid;
    margin: auto;
    padding: 5px 10px 5px 10px;
    background-color: #5C206C;
    justify-content: space-evenly;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

#showtime {
    grid-column: 1/2;
    grid-row: 2/4;
    width: 125px;
    height: 100px;
    justify-self: center;
    align-self: center;
}

#showtime2 {
    grid-column: 5/6;
    grid-row: 2/4;
    width: 125px;
    height: 100px;
    justify-self: center;
    align-self: center;
}

#showtime-header {
    width: auto;
    grid-column: 1/6;
    grid-row: 1/2;
    padding: 10px;
    background-color: #000000;
}

#showtime-header h3 {
    color:#ffffff;
}

/* Format movie title */
#movie-title {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    padding-top: 10px;
}

#movie-title label {
    grid-column: 1/2;
    grid-row: 1/2;
}

#title {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    font-weight: bold;
    width: 200px;
    justify-self: center;
}

/* Format movie date */
#movie-date {
    grid-column: 3/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    padding-top: 10px;
}

#movie-date label {
    grid-column: 1/2;
    grid-row: 1/2;
}

#movie-date input {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    width: 175px;
    justify-self: center;
}

/* Format movie time */
#movie-time {
    grid-column: 4/5;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    padding-top: 10px;
}

#movie-time label {
    grid-column: 1/2;
    grid-row: 1/2;
}

#showings {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    font-weight: bold;
    width: 200px;
    justify-self: center;
}

/* Format search button */
#search {
    grid-column: 3/4;
    grid-row: 3/4;
    justify-self: center;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    width: 100px;
    height: 30px;
}

#search:hover {
    background-color: #000000;
    color: orange;
}

#output {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 1rem;
  margin: 1rem auto;
  width: 90%;
  max-width: 800px;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 400px;
  font-family: Arial, sans-serif;
}

/* Style New Releases Container */
#new-releases {
    display: grid;
    margin: auto;
    background-color: black;
    justify-content: center;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(6, auto);
    column-gap: 25px;
    text-align: center;
    color: white;
    padding: 20px;
}

/* Format header tag */
#new-releases h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 5px;
}

/* Format subheader */
#new-releases p:first-of-type {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-bottom: 20px;
    font-size: 18px;
    color: orange;
}

/* Format images to fit inside grid and add border */
#new-releases img {  
    width: 300px;
    height: 300px;
    border: 4px dotted white;
}

#final-destination {
     /* Movie release placement in grid */
    grid-column: 1/2;
    grid-row: 3/4;
}

#final-destination p:first-of-type {
    /* Movie title placement in grid */
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 18px;
    padding-top: 15px;
}

#final-destination p:last-of-type {
    /* Movie length & rating placement in grid */
    grid-column: 1/2;
    grid-row: 5/6;
    padding-bottom: 10px;
}

#megan2 {
     /* Movie Release placement in grid */
    grid-column: 2/3;
    grid-row: 3/4;
}

#megan2 p:first-of-type {
    /* Movie title placement in grid */
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 18px;
    padding-top: 15px;
}

#megan2 p:last-of-type {
    /* Movie length & rating placement in grid */
    grid-column: 2/3;
    grid-row: 5/6;
    padding-bottom: 10px;
}

#sinners {
    /* Movie Release placement in grid */
    grid-column: 3/4;
    grid-row: 3/4;
}

#sinners p:first-of-type {
    /* Movie title placement in grid */
    grid-column: 3/4;
    grid-row: 4/5;
    font-size: 18px;
    padding-top: 15px;
}

#sinners p:last-of-type {
    /* Movie length & rating placement in grid */
    grid-column: 3/4;
    grid-row: 5/6;
    padding-bottom: 10px;
}

/* Format the "Buy Tickets" buttons under New Releases */
.buy-tickets {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.buy-tickets:hover, .buy-tickets:focus {
    background-color: #5C206C;
    color: white;
}

/* Format food section */
#featured-dining {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    width: 70%;
    margin: auto;
    font-weight: bold;
    background-color: #5C206C;
}

#featured-dining h3 {
    color:#FFFFFF;
    padding-bottom: 10px;
}

#variety-food {
    width: 95%;
}

#food p {
    color: orange;
    font-size: 20px;
}

#view-menu {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

#view-menu:hover, #view-menu:focus {
    background-color: #5C206C;
    color: white;
}

footer {
    text-align: center;
    height: 30px;
    background: linear-gradient(to bottom, #000000, #5C206C, #FFFFFF); 
    padding-top: 15px;
}

footer small {
    color: #ffffff;
    font-weight: bold;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    padding: 10px 0;
  }

  #now-playing {
    width: 95%;
    height: auto;
  }
}